In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

from sklearn.linear_model import LinearRegression

In [2]:
# Создаём сэмпл
n_samples = 1000

age_owner = np.random.choice(90, n_samples) + 21
length = np.random.choice(120, n_samples) + 15
width = np.random.choice(80, n_samples) + 10

price = length * width * 100 + 126

data = pd.DataFrame({'age_owner': age_owner, 'length': length, 'width': width, 'price': price})
data.head(5)

   age_owner  length  width   price
0         80      64     71  454526
1         86      78     29  226326
2         79      39     12   46926
3         27      48     26  124926
4         66     126     27  340326

In [3]:
from sklearn.metrics import mean_absolute_error

X = data[['age_owner', 'length', 'width']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['age_owner', 'length', 'width']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [  66.65000685 4947.61906172 7656.419322  ]
Bias: -380381.6318910256
Error: 61361.964672978145

In [5]:
y.median()

315126.0

In [6]:
X = data[['length', 'width']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['length', 'width']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [4947.12191916 7654.82663406]
Bias: -375910.19912922475
Error: 61306.10111626315

In [8]:
# Создаем новый признак
data['mult'] = data['length'] * data['width']
data.head(5)

   age_owner  length  width   price  mult
0         80      64     71  454526  4544
1         86      78     29  226326  2262
2         79      39     12   46926   468
3         27      48     26  124926  1248
4         66     126     27  340326  3402

In [9]:
X = data[['mult']]
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['mult']])
print('Error: {}'.format(mean_absolute_error(pred_values, y)))

Weights: [100.]
Bias: 126.0
Error: 0.0

#

Домашнее задание

#

По образу практики, попробуйте создать искусственный датасет с лишними столбцами. Целевую метку, при правильной обработке данных, формируйте таким образом, чтобы без затруднений её смогла описать линейная модель.

In [15]:
# Создаём сэмпл стоимость земельного участка
n_samples = 2000

age_owner = np.random.choice(75, n_samples) + 21 #признак не нужный для стоимости участка
size_of_family = np.random.choice(10, n_samples) #признак не нужный для стоимости участка
length = np.random.choice(120, n_samples) + 25
width = np.random.choice(80, n_samples) + 15

price = length * width * 111 + 201

data = pd.DataFrame({'age_owner': age_owner, 'size_of_family' : size_of_family, 'length': length, 'width': width, 'price': price})
data.head(5)

   age_owner  size_of_family  length  width   price
0         60               1      60     23  153381
1         76               7      41     61  277812
2         29               1      49     82  446199
3         92               4      28     51  158709
4         68               1      98     60  652881

In [19]:
from sklearn.metrics import mean_absolute_error

X = data[['age_owner', 'size_of_family', 'length', 'width']] #берем для первой попытки обучения регрессии, все признаки.
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['age_owner', 'size_of_family', 'length', 'width']])
print('Error: {}'.format(mean_absolute_error(pred_values, y))) #как результат получаем большую ошибку, так как влияние размера семьи и возраста владельца на стоимость участка минимальны

Weights: [  36.23962683 -274.71637628 5903.94285503 9368.16923477]
Bias: -499020.1746981249
Error: 69835.41880858639

In [22]:
data['square'] = data['length'] * data['width'] #добавляем площадь участка в датафрейм
data.head(5)

   age_owner  size_of_family  length  width   price  square
0         60               1      60     23  153381    1380
1         76               7      41     61  277812    2501
2         29               1      49     82  446199    4018
3         92               4      28     51  158709    1428
4         68               1      98     60  652881    5880

In [26]:
X = data[['square']] #для обучения регрессии используем только новый признак площади
y = data['price']
reg = LinearRegression().fit(X, y)
print('Weights: {}'.format(reg.coef_))
print('Bias: {}'.format(reg.intercept_))

pred_values = reg.predict(data[['square']])
print('Error: {}'.format(mean_absolute_error(pred_values, y))) - #получаем минимальную ошибку.

Weights: [111.]
Bias: 201.00000000023283
Error: 1.2790405889973045e-10